/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

h1 { margin-bottom: 1em; }
h3 { margin-top: 1.5em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  max-width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header .extra {
  float: right;
  color: #aaa;
}

.header .extra a {
  color: #aaa;
}

.header .extra a:hover {
  color: #000;
}

.header .extra .split {
  margin: 0 0.5em 0 0.5em;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-left: 2em;
}

.footer .contact-first {
  margin-left: 0;
}

.footer .contact a {
  color: #8085C1;
}

.footer .contact .icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.footer .copyright {
    float: right;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  overflow: auto;
}

.post ul, .post ol {
  margin: 1em 0 1em 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
  padding: 0;
}

.post blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 2em;
  color: #444;
  margin: 1em 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* table */
.post table {
  margin: auto;
  border-collapse: collapse;
}

.post table th {
  border: 1px solid #DDD;
  padding: 6px 13px;
}

.post table td {
  border: 1px solid #DDD;
  padding: 6px 13px;
}

/* disqus */
#disqus_thread {
    margin-top: 2em;
}
